
body {
  text-align: center;
}


.rimg img {
    text-align: left;
    width: 20%;
}
.rimg {
  text-align: left;
}
ul li {
    
    display: inline-block;
    padding: 52px 100px 20px 2px;
 

  }

  .sp ul li {
    
    display: inline-block;
    padding: 12px 45px 20px 2px;
  
  
  }


  /*PCとスマホ版の切り替えるPG*/
/* パソコンで見たときは"pc"のclassがついた画像が表示される */
.pc { display: block !important; }
.sp { display: none !important; }
 
/* スマートフォンで見たときは"sp"のclassがついた画像が表示される */
@media only screen and (max-width: 1090px) {
    .pc { display: none !important; }
    .sp { display: block !important; }
}
/*ここまで*/









.mozisp {
  font-size: 30%;
}




  
.mozi {
  font-size: 100%;
}

  header {

      text-align: center;
      background-color: goldenrod;
      background-size: 100%;
      
  }

  a:hover {
    color:white;
    font-size: 1.1em;/*文字サイズ2倍*/
    font-weight: bold;
  }


  
  a {
    text-decoration:none; 
}

.menu a {
    color: rgb(12, 12, 12);
    text-decoration:none; 
  }

  
.menu a:hover {
    color: white;
}

video {
  width: 100%;
  text-align: center;
}


.inline-block_test {
  
  
  display: inline-block;      /* インラインブロック要素にする */
  background-color:  rgb(224, 204, 137);    /* 背景色指定 */
  padding:  10px;             /* 余白指定 */
  height: 1000px;              /* 高さ指定 */
  width: 50%;  

}

.inline-block_test0 {
  
  
  display: inline-block;      /* インラインブロック要素にする */
  background-color:  rgb(247, 139, 139);    /* 背景色指定 */
  padding:  10px;             /* 余白指定 */
  height: 1000px;              /* 高さ指定 */
 

}


.wrapper{
  display: flex;
  
 
 
}
h2 {
  color: rgb(32, 32, 32);

  font-size:3.6vw;

}

.部屋の中こうぼう {
  background-color:  rgb(160, 160, 160);    /* 背景色指定 */
  padding:  10px;             /* 余白指定 */
  height: 100%;              /* 高さ指定 */
  width: 50%; 
  text-align: center;

}
.nakasoto1 {
  font-size:2.5vw;
}

.部屋の外こうぼう {
  background-color:  rgb(160, 160, 160);    /* 背景色指定 */
   padding:  10px;             /* 余白指定 */
  height: 100%;              /* 高さ指定 */
  width: 50%; 
  text-align: center;
}

.nakasoto {
  font-size: 1.5vw;
}

.sotonaka {
  width: 30%;
}
.ROGO {
  text-align: left;
}


.link {
  background-color: rgb(46, 46, 46);
  font-size: 2vw;
}
a {
  color: rgb(255, 255, 255);
}

.img0 {
  width: 100%;
}

.img0 {
  width: 100%;
}

.img1 {
  width: 50%;
}

.sita {
  background-color: rgb(29, 29, 29);
  color: white;
}
